/*
 * Ext JS Library 2.0 Alpha 1
 * Copyright(c) 2006-2007, Ext JS, LLC.
 *
 * @license LGPL
 * @author Kemal Tunador <tunador@madrabaz.com>
 */

.x-panel {
    border-style: solid;
    border-color: #fff20;
}
.x-panel-header {
    color:#000000;
	border:1px solid #fff20;
    background-image:url(../images/olive/panel/white-top-bottom.gif);
}
.x-panel-tl .x-panel-header {
    color:#000000;
}
.x-panel-body {
    border-color:#fff20;
}

.x-panel-bbar .x-toolbar {
    border-color:#fff20;
}

.x-panel-tbar .x-toolbar {
    border-color:#fff20;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:#fff20;
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-color:#fff20;
}
.x-panel-tc {
	background-image:url(../images/olive/panel/top-bottom.gif);
}
.x-panel-tl {
	background-image:url(../images/olive/panel/corners-sprite.gif);
    border-color:#fff20;
}
.x-panel-tr {
	background-image:url(../images/olive/panel/corners-sprite.gif);
}
.x-panel-bc {
	background-image:url(../images/olive/panel/top-bottom.gif);
}
.x-panel-bl {
	background-image:url(../images/olive/panel/corners-sprite.gif);
}
.x-panel-br {
	background-image:url(../images/olive/panel/corners-sprite.gif);
}
.x-panel-mc {
    background:#131313;
    color:#000000;
}
.x-panel-mc .x-panel-body {
    background:transparent;
    border: 0 none;
}
.x-panel-ml {
	background-image:url(../images/olive/panel/left-right.gif);
}
.x-panel-mr {
	background-image:url(../images/olive/panel/left-right.gif);
}

/* Ghosting */
.x-panel-ghost {
    background:#131313;
}

.x-panel-ghost ul {
    border-color:#fff20;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border:1px solid #fff20;
}

/* Grid */
.x-grid3-row {
    color:#000000;
}
.x-grid3-row-over {
	border:1px solid #fff20;
    background-image:url(../images/olive/grid/row-over.gif);
}
.x-grid3-header{
	background-image:url(../images/olive/grid/grid3-hrow.gif);
}
.x-grid3-header-pop-inner {
    border-left:1px solid #5c8f2a;
    background-image:url(../images/olive/grid/hd-pop.gif);
}
td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left:1px solid #5c8f2a;
    border-right:1px solid #5c8f2a;
}
td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-image:url(../images/olive/grid/grid3-hrow-over.gif);
   	background-color:#c3e1a5;
}
.x-dd-drag-proxy .x-grid3-hd-inner{
	background-image:url(../images/olive/grid/grid3-hrow-over.gif);
}
.x-grid3-locked td.x-grid3-row-marker, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker{
    background-image:url(../images/olive/grid/grid-hrow.gif);
    color:#666666;
    border-top:1px solid #508918;
    border-right:1px solid #5c8f2a !important;
}
.x-props-grid .x-grid3-td-name .x-grid3-cell-inner{
	background-image:url(../images/olive/grid/grid3-special-col-bg.gif);
    color:#eeeeee !important;
}
.x-grid3-hd-btn {
    background-image:url(../images/olive/grid/grid3-hd-btn.gif);
}
.x-grid3-body .x-grid3-td-expander {
    background-image:url(../images/olive/grid/grid3-special-col-bg.gif);
}
.x-grid3-body .x-grid3-td-checker {
    background-image:url(../images/olive/grid/grid3-special-col-bg.gif);
}
.x-grid3-body .x-grid3-td-numberer {
    background-image:url(../images/olive/grid/grid3-special-col-bg.gif);
}
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
	background-image:url(../images/olive/grid/grid3-special-col-sel-bg.gif);
}
.x-grid3-hd-row td {
    border-left:1px solid #afe977;
    border-right:1px solid #508918;
}
.x-grid3-row-selected {
	background: #c3e1a5;
	border:1px dotted #fff20;
}

/* Menu */

.x-menu {
	border: 1px solid #83a95d;
	background-color:#c4dbaf;
	background-image:url(../images/olive/menu/menu.gif);
}
.x-menu-sep {
    background-color:#daeec6;
	border-bottom:1px solid #618041;
}
.x-menu-plain {
	background:#c4dbaf !important;
}
.x-menu-item-active {
	background-image:url(../images/olive/menu/item-over.gif);
	background-color:#caefa4;
	border:1px solid #88b659;
}
.x-menu a.x-menu-item {
	color:#222222;
}
.x-menu-item-active a.x-menu-item {
    color: #000000;
}

/* Tools */
.x-tool {
    background-image:url(../images/olive/panel/tool-sprites.gif);
}

/* Buttons */

.x-btn-text{
    color: #000000;
    font-weight:bold !important;
}
.x-btn-left{
	background-image:url(../images/olive/button/btn-sprite.gif);
}
.x-btn-right{
	background-image:url(../images/olive/button/btn-sprite.gif);
}
.x-btn-center{
	background-image:url(../images/olive/button/btn-sprite.gif);
}
.x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../images/olive/button/btn-arrow.gif);
}
.x-btn-with-menu  .x-btn-center em {
    background-image:url(../images/olive/toolbar/btn-arrow.gif);
}

.x-btn-text-icon .x-btn-with-menu .x-btn-center em {
    background-image:url(../images/olive/toolbar/btn-arrow.gif);
}

/* Layout classes */

.x-border-layout-ct {
    background:#f3fff3; /* f1f2f4 */
}

.x-accordion-hd {
	background-image:url(../images/olive/panel/light-hd.gif);
}

.x-layout-collapsed{
    background-color:#a0cf6a;
    border-color:#92c95d;
}
.x-layout-collapsed-over{
	 background-color:#b1d578;
}


/* qtips */
.x-tip .x-tip-close{
	background-image: url(../images/olive/qtip/close.gif);
}
.x-tip .x-tip-tc {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-tl {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-tr {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-bc {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-bl {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-br {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-ml {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-mr {
	background-image:url(../images/olive/qtip/tip-sprite.gif);
}
.x-tip .x-tip-header-text {
    color:#000000;
}
.x-tip .x-tip-body {
    color:#111111;
}
/* Toolbars */

.x-toolbar{
	border-color:#fff20;
    background:#b4da8f url(../images/olive/toolbar/bg.gif) repeat-x top left;
}
.x-toolbar button {
    color:#222222;
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../images/olive/toolbar/btn-arrow.gif);
}
.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../images/olive/toolbar/btn-arrow.gif);
}
.x-toolbar .x-btn-over .x-btn-left{
	background-image:url(../images/olive/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over .x-btn-right{
	background-image:url(../images/olive/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over .x-btn-center{
	background-image:url(../images/olive/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over button {
    color:#000000;
}
.x-toolbar .x-btn-click .x-btn-left, .x-toolbar .x-btn-pressed .x-btn-left, .x-toolbar .x-btn-menu-active .x-btn-left{
	background-image:url(../images/olive/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-click .x-btn-right, .x-toolbar .x-btn-pressed .x-btn-right, .x-toolbar .x-btn-menu-active .x-btn-right{
	background-image:url(../images/olive/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-click .x-btn-center, .x-toolbar .x-btn-pressed .x-btn-center, .x-toolbar .x-btn-menu-active .x-btn-center{
	background-image:url(../images/olive/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .ytb-sep {
	background-image: url(../images/olive/grid/grid-split.gif);
}
.x-paging-info {
    color:#000000;
}

/* Form */

.x-form-field-wrap .x-form-trigger{
    background-image:url(../images/olive/form/trigger.gif);
    border-bottom: 1px solid #94d655;
}
.x-form-field-wrap .x-form-date-trigger{
    background-image: url(../images/olive/form/date-trigger.gif);
}
.x-form-field-wrap .x-form-clear-trigger{
    background-image: url(../images/olive/form/clear-trigger.gif);
}
.x-form-field-wrap .x-form-search-trigger{
    background-image: url(../images/olive/form/search-trigger.gif);
}

.x-form-text, textarea.x-form-field{
    border: 1px solid #94d655;
}
.x-form-select-one {
    border: 1px solid #94d655;
}
.x-item-disabled .x-form-trigger-over{
    border-bottom: 1px solid #94d655;
}
.x-item-disabled .x-form-trigger-click{
    border-bottom: 1px solid #94d655;
}
.x-form fieldset {
    border:1px solid #94d655;
}
.x-trigger-wrap-focus .x-form-trigger{
    border-bottom: 1px solid #72b82f;
}
.x-form-focus, textarea.x-form-focus{
	border: 1px solid #72b82f;
}


/* Tabs */

.x-tab-panel-header, .x-tab-panel-footer {
	background: #bedf9e;
	border-color:#92c95d;
}


.x-tab-panel-header {
	border-color:#92c95d;
}

.x-tab-panel-footer {
	border-color:#92c95d;
}

ul.x-tab-strip-top{
	background:#bedf9e url(../images/olive/tabs/tab-strip-bg.gif) repeat-x left top;
	border-color:#92c95d;
}

ul.x-tab-strip-bottom{
	background-image:url(../images/olive/tabs/tab-strip-btm-bg.gif);
	border-color:#92c95d;
}

.x-tab-strip span.x-tab-strip-text {
	color:#333333;
}
.x-tab-strip-over span.x-tab-strip-text {
	color:#000000;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#111111;
}

.x-tab-strip-top .x-tab-right {
	background-image:url(../images/olive/tabs/tabs-sprite.gif);
}

.x-tab-strip-top .x-tab-left {
	background-image:url(../images/olive/tabs/tabs-sprite.gif);
}
.x-tab-strip-top .x-tab-strip-inner {
	background-image:url(../images/olive/tabs/tabs-sprite.gif);
}

.x-tab-strip-bottom .x-tab-right {
	background-image:url(../images/olive/tabs/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
	background-image:url(../images/olive/tabs/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background-image:url(../images/olive/tabs/tab-btm-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background-image:url(../images/olive/tabs/tab-btm-left-bg.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(../images/olive/tabs/tab-close.gif);
}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
	background-image:url(../images/olive/tabs/tab-close.gif);
}

.x-tab-panel-body {
    border-color:#92c95d;
    background:#eeeeee;
}
.x-tab-panel-bbar .x-toolbar {
    border-color: #92c95d;
}

.x-tab-panel-tbar .x-toolbar {
    border-color: #92c95d;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color:#92c95d;
    background: #bedf9e;
}

.x-tab-scroller-left {
    background-image: url(../images/olive/tabs/scroll-left.gif);
    border-color:#92c95d;
}
.x-tab-scroller-right {
    background-image: url(../images/olive/tabs/scroll-right.gif);
    border-color:#92c95d;
}

/* Window */

.x-window-proxy {
    background:#363636;
    border-color:#92c95d;
}

.x-window-tl .x-window-header {
    color:#000000;
}
.x-window-tc {
	background-image:url(../images/olive/window/top-bottom.png);
}
.x-window-tl {
	background-image:url(../images/olive/window/left-corners.png);
}
.x-window-tr {
	background-image:url(../images/olive/window/right-corners.png);
}
.x-window-bc {
	background-image:url(../images/olive/window/top-bottom.png);
}
.x-window-bl {
	background-image:url(../images/olive/window/left-corners.png);
}
.x-window-br {
	background-image:url(../images/olive/window/right-corners.png);
}
.x-window-mc {
    border:1px solid #76b23d;
    background:#b8df92;
}

.x-window-ml {
	background-image:url(../images/olive/window/left-right.png);
}
.x-window-mr {
	background-image:url(../images/olive/window/left-right.png);
}
.x-panel-ghost .x-window-tl {
    border-color:#92c95d;
}
.x-panel-collapsed .x-window-tl {
    border-color:#92c95d;
}

.x-window-plain .x-window-mc {
    color: #eeeeee;
    background: #92c65e;
    border-left:1px solid #6ca634;
    border-top:1px solid #6ca634;
    border-bottom:1px solid #85c447;
    border-right:1px solid #85c447;
}

.x-window-plain .x-window-body {
    border-left:1px solid #93c95e;
    border-top:1px solid #93c95e;
    border-bottom:1px solid #76b23d;
    border-right:1px solid #76b23d;
    background:transparent !important;
}

body.x-body-masked .x-window-mc, body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #92c65e;
}

/* Date Picker */
.x-date-picker {
    border: 1px solid #92c95d;
    background:#ffffff;
}
.x-date-middle,.x-date-left,.x-date-right {
	background-image: url(../images/olive/shared/hd-sprite.gif);
}
.x-date-middle .x-btn-with-menu  .x-btn-center em {
    background-image:url(../images/olive/toolbar/btn-arrow-light.gif);
}
.x-date-right a {
    background-image: url(../images/olive/shared/right-btn.gif);
}
.x-date-left a{
	background-image: url(../images/olive/shared/left-btn.gif);
}
.x-date-inner th {
    background-image:url(../images/olive/shared/glass-bg.gif);
	border-bottom: 1px solid #92c95d;
	color:#000000;
}
.x-date-inner .x-date-selected a{
	background-image:url(../images/olive/shared/glass-bg.gif);
	border:1px solid #92c95d;
    color:#000000;
}
.x-date-bottom {
    border-top: 1px solid #92c95d;
    background-image:url(../images/olive/shared/glass-bg.gif);
}
.x-date-mp-btns {
	background-image:url(../images/olive/shared/glass-bg.gif);
}
td.x-date-mp-sel a {
	background-image:url(../images/olive/shared/glass-bg.gif);
	border:1px solid #92c95d;
	color: #000000 !important;
}
.x-date-mp-ybtn a {
    background-image:url(../images/olive/panel/tool-sprites.gif);
}
.x-date-mp-btns button {
	background-image:url(../images/olive/shared/glass-bg.gif);
	border-color: #6ca634 #92c95d #92c95d #6ca634;
	color: #000000;
}
.x-date-inner a{
    color:#000000;
}
.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover{
    color:#eeeef0;
    background: #92c95d;
}
td.x-date-mp-month a,td.x-date-mp-year a {
	color:#000000;
}
td.x-date-mp-month a:hover,td.x-date-mp-year a:hover {
	color:#eeeef0;
	background: #92c95d;
}

/* misc */
.x-html-editor-wrap {
    border-color:#92c95d;
}

/* Borders go last for specificity */
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #92c95d;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #92c95d;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #92c95d;
}

.x-window-noborder .x-window-mc {
    border-width:0;
}
.x-window-plain .x-window-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder {
	border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
	border-top-width:0;
	border-left-width:0;
	border-right-width:0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder {
	border-bottom-width:0;
	border-left-width:0;
	border-right-width:0;
}


.x-tab-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #92c95d;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #92c95d;
}